/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
		http://meyerweb.com/eric/tools/css/reset/
		v2.0 | 20110126
		License: none (public domain)
		*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* common styles */
body {
  background: #f1f1f1;
  color: #000; }

.page {
  background: #fff;
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden; }

.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px; }

h1 {
  position: relative;
  background: #444;
  font-size: 32px;
  color: #fff;
  padding: 10px 20px;
  margin: 0 -20px 12px -20px; }

.letters {
  font-size: 25px;
  margin-bottom: 20px; }

.s10:before {
  content: '10px'; }

.s11:before {
  content: '11px'; }

.s12:before {
  content: '12px'; }

.s14:before {
  content: '14px'; }

.s18:before {
  content: '18px'; }

.s24:before {
  content: '24px'; }

.s30:before {
  content: '30px'; }

.s36:before {
  content: '36px'; }

.s48:before {
  content: '48px'; }

.s60:before {
  content: '60px'; }

.s72:before {
  content: '72px'; }

.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-right: 6px; }

pre {
  display: block;
  position: relative;
  padding: 9px;
  margin: 0 0 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  font-weight: normal !important;
  font-style: normal !important;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px; }

pre:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: 'Usage';
  line-height: 1;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-radius: 0 4px 0 4px;
  z-index: 10; }

/* responsive */
@media (max-width: 959px) {
  .page {
    width: auto;
    margin: 0; } }
/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:50 PM */
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-Bold.eot");
  src: local("Neo Sans Pro Bold"), local("NeoSansPro-Bold"), url("NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Bold.woff") format("woff"), url("NeoSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-Medium.eot");
  src: local("Neo Sans Pro Medium"), local("NeoSansPro-Medium"), url("NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Medium.woff") format("woff"), url("NeoSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-LightItalic.eot");
  src: local("Neo Sans Pro Light Italic"), local("NeoSansPro-LightItalic"), url("NeoSansPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-LightItalic.woff") format("woff"), url("NeoSansPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-Regular.eot");
  src: local("Neo Sans Pro"), local("NeoSansPro-Regular"), url("NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Regular.woff") format("woff"), url("NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Pro Ultra';
  src: url("NeoSansPro-Ultra.eot");
  src: local("Neo Sans Pro Ultra"), local("NeoSansPro-Ultra"), url("NeoSansPro-Ultra.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Ultra.woff") format("woff"), url("NeoSansPro-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-BoldItalic.eot");
  src: local("Neo Sans Pro Bold Italic"), local("NeoSansPro-BoldItalic"), url("NeoSansPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-BoldItalic.woff") format("woff"), url("NeoSansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-Light.eot");
  src: local("Neo Sans Pro Light"), local("NeoSansPro-Light"), url("NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Light.woff") format("woff"), url("NeoSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Pro';
  src: url("NeoSansPro-Italic.eot");
  src: local("Neo Sans Pro Italic"), local("NeoSansPro-Italic"), url("NeoSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("NeoSansPro-Italic.woff") format("woff"), url("NeoSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* Rectangle 6: */
.playground-map-wallpaper {
  overflow: hidden;
  background: none; }

.playground-name-and-address {
  position: relative;
  top: 22px;
  margin: 0 auto;
  text-align: center; }

.playground-map-field__playground-name {
  color: #C4BCFF; }

.playground-map-field__playground-address {
  font-weight: lighter; }

.playground-map-field-signIn-button {
  display: inline-block;
  position: absolute;
  float: right;
  width: 127px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #7499FF;
  border-radius: 8px;
  font-weight: lighter;
  right: 20px;
  top: 200px; }
  .playground-map-field-signIn-button span {
    position: relative;
    text-align: center;
    top: 9px;
    left: 20px; }

.playground-who-will-come {
  width: 65.5161290322581%;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 350px;
  background-color: rgba(85, 69, 140, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33);
  border-radius: 20px; }

.playground-who-will-come-field {
  display: inline-block;
  width: 100%;
  height: 100%; }

.playground-who-will-come-field__text {
  position: absolute;
  font-size: 14px;
  left: 20px;
  top: 18px; }

.playground-i-will-come-button {
  float: right;
  width: 127px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #7499FF;
  border-radius: 8px;
  font-weight: lighter;
  margin-right: 20px;
  margin-top: 10px; }
  .playground-i-will-come-button span {
    position: relative;
    text-align: center;
    top: 9px;
    left: 40px; }

.who-will-come-user-small-field-photo {
  display: inline-block;
  width: 30px;
  height: 30px; }
  .who-will-come-user-small-field-photo img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid #7499ff; }

.playground-visitors {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 140px; }
  .playground-visitors:hover .who-will-come-user-small-field-photo {
    margin-left: 0px; }

.who-will-come-user-small-field-photo {
  margin-left: -20px; }

.who-will-come-user-small-field-photo:nth-child(1) {
  margin-left: 0px; }

.who-will-come-user-small-field-photo:nth-child(2) {
  transition-duration: 90ms; }

.who-will-come-user-small-field-photo:nth-child(3) {
  transition-duration: 150ms; }

.who-will-come-user-small-field-photo:nth-child(4) {
  transition-duration: 300ms; }

.playground-chat {
  width: 65.5161290322581%;
  height: 494px;
  position: absolute;
  left: 50px;
  background-color: #302F4E;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33);
  top: 420px; }

.playground-chat-upper-part {
  width: 100%;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  background-color: #38335C; }
  .playground-chat-upper-part span {
    color: #C4BCFF;
    font-weight: lighter;
    font-size: 14px; }

.playground-chat-input-part {
  width: 100%;
  height: 63px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  background-color: #38335C;
  bottom: 0px; }

.playground-chat-upper-part__usersInThisChannel {
  display: block;
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: 20px; }

.playground-chat-upper-part__chanelName {
  float: right;
  position: relative;
  top: 5px;
  right: 20px; }

.playground-chat-messages-field {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 380px;
  overflow-y: scroll;
  border-bottom: 1px solid #7499ff; }
  .playground-chat-messages-field::-webkit-scrollbar-track {
    border-radius: 4px; }
  .playground-chat-messages-field::-webkit-scrollbar {
    width: 6px; }
  .playground-chat-messages-field::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(116, 153, 255, 0.21); }
  .playground-chat-messages-field:hover::-webkit-scrollbar-thumb {
    background: #C4BCFF; }

.playground-chat-message-fields {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid rgba(116, 153, 255, 0.21);
  height: auto;
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px; }

.playground-chat-message-fields-user-info__name, .playground-chat-message-fields-user-info__timeStamp {
  position: relative;
  top: -20px;
  left: 5px;
  font-size: 12px;
  color: #C4BCFF; }

.playground-chat-message-fields-user-info__timeStamp {
  font-weight: lighter;
  color: white; }

.playground-chat-message-fields-user-info__message {
  display: inline-block;
  padding-left: 38px;
  padding-right: 1px;
  line-height: 16px; }

.playground-chat-input-part-input-field {
  width: 90%;
  height: 35px;
  border-radius: 20px;
  background-color: rgba(196, 188, 255, 0.16);
  margin: 15px auto; }
  .playground-chat-input-part-input-field input {
    display: inline-block;
    width: 90%;
    height: 20px;
    margin-left: 50px;
    margin-top: 6px;
    padding-left: 5px;
    background: none;
    color: white;
    border: none;
    border-left: 1px solid #C4BCFF;
    font-size: 14px;
    outline: none; }
    .playground-chat-input-part-input-field input::-webkit-input-placeholder {
      color: #C4BCFF; }

/* Rectangle 6: */
body {
  font-family: Neo Sans Pro, sans-serif;
  background-color: #302F4E;
  color: white; }
  body::-webkit-scrollbar-track {
    border-radius: 4px; }
  body::-webkit-scrollbar {
    width: 6px; }
  body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(116, 153, 255, 0.21); }
  body:hover::-webkit-scrollbar-thumb {
    background: rgba(116, 153, 255, 0.21); }

.main-navigation-field__text {
  font-size: 12px; }

.main-header {
  background-image: linear-gradient(-180deg, rgba(142, 123, 192, 0.2) 0%, rgba(85, 69, 140, 0) 100%);
  height: 100vh;
  width: 200px;
  position: fixed; }

.logo {
  padding-left: 42px;
  padding-top: 13px;
  width: 82px;
  margin: 0 auto;
  background: none; }

.user-small-field {
  height: 35px;
  width: 138px;
  padding-left: 18%;
  margin-top: 32px; }

.user-small-field-photo {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
  margin: 0; }
  .user-small-field-photo img {
    border-radius: 14px;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #7499ff; }

.user-small-field__name {
  font-size: 12px;
  position: relative;
  vertical-align: top;
  top: 15px; }

.manage-profile-button {
  width: 138px;
  height: 30px;
  background: none;
  border-radius: 10px;
  margin-left: 18%;
  margin-top: 32px;
  color: white;
  font-size: 10px;
  text-align: center;
  border: 1px solid #7499ff;
  transition-duration: 250ms; }
  .manage-profile-button span {
    position: relative;
    top: 5px;
    left: 7px; }
  .manage-profile-button svg {
    position: relative;
    top: 7px;
    left: -5px; }
  .manage-profile-button:hover {
    box-shadow: none;
    transition-duration: 250ms; }

.main-navigation-fields {
  margin-top: 40px;
  height: 30px; }

.main-navigation-field {
  padding-left: 18%;
  width: 138px;
  height: 30px;
  margin-top: 10px;
  border-left: 3px solid rgba(85, 69, 140, 0.1); }
  .main-navigation-field:hover {
    border-left: 3px solid #7499ff; }

.main-navigation-field__text {
  margin-left: 25px;
  position: relative;
  top: 5px;
  font-size: 12px; }

.main-info {
  position: relative;
  left: 200px;
  width: 82.5111111111111%;
  min-height: 100vh;
  height: auto; }

.upper-navigation-bar {
  width: 89.5%;
  height: 40px;
  background-color: rgba(85, 69, 140, 0.2);
  border-radius: 10px;
  position: relative;
  top: 10px;
  left: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33); }

.logout-button {
  float: right;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 7px;
  color: white;
  transition-duration: 150ms; }
  .logout-button i {
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 16px; }
  .logout-button:hover {
    transition-duration: 200ms;
    box-shadow: none;
    color: red; }

.user-background-field, .playground-map-field {
  height: 245px;
  background-color: rgba(85, 69, 140, 0.2);
  width: 65.5161290322581%;
  border-radius: 20px;
  top: 83px;
  left: 50px;
  position: absolute;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33); }

.user-background-field-wallpaper, .playground-map-wallpaper {
  width: 100%;
  height: 185px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.user-big-field-photo {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  top: -50px;
  left: 80px; }
  .user-big-field-photo img {
    border-radius: 50%;
    height: 100%;
    width: 100%; }

.user-background-field-navigation__user-name {
  position: relative;
  top: -105px;
  left: 100px;
  color: white;
  font-size: 16px; }

.user-background-field-navigation {
  font-size: 12px;
  display: inline-block;
  position: relative;
  width: 100%; }
  .user-background-field-navigation ul {
    position: relative;
    top: -65px;
    left: -15px; }

.user-background-field-navigation-bar {
  display: inline-block;
  position: relative; }

.user-background-field-navigation__field, .user-background-field-navigation__field_isActive {
  display: inline-block;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.66);
  transition-duration: 100ms; }
  .user-background-field-navigation__field span, .user-background-field-navigation__field_isActive span {
    transition-duration: 100ms;
    display: inline-block;
    width: 40px;
    height: 3px;
    background: none;
    position: absolute;
    top: 32px;
    border-radius: 10px; }
  .user-background-field-navigation__field_isActive {
    color: white; }
    .user-background-field-navigation__field_isActive span {
      background-color: #7499ff; }
  .user-background-field-navigation__field:hover, .user-background-field-navigation__field_isActive:hover {
    color: white; }
  .user-background-field-navigation__field:nth-child(1) span, .user-background-field-navigation__field_isActive:nth-child(1) span {
    left: -1px;
    width: 40px; }
  .user-background-field-navigation__field:nth-child(2) span, .user-background-field-navigation__field_isActive:nth-child(2) span {
    left: 55px;
    width: 70px; }
  .user-background-field-navigation__field:nth-child(3) span, .user-background-field-navigation__field_isActive:nth-child(3) span {
    left: 145px;
    width: 45px; }
  .user-background-field-navigation__field:nth-child(4) span, .user-background-field-navigation__field_isActive:nth-child(4) span {
    left: 212px;
    width: 60px; }
  .user-background-field-navigation__field:nth-child(5) span, .user-background-field-navigation__field_isActive:nth-child(5) span {
    left: 295px;
    width: 70px; }

.favorites-playgrounds {
  width: 250px;
  height: 250px;
  position: relative;
  left: 73.4677419354839%;
  top: 42px;
  background-color: rgba(85, 69, 140, 0.2);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33); }
  .favorites-playgrounds span {
    font-size: 12px;
    position: relative;
    top: -20px;
    color: white; }
  .favorites-playgrounds span:nth-child(1) {
    color: rgba(255, 255, 255, 0.66); }

.favorites-playground__pic {
  border-radius: 14px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #7499ff;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 10px; }

/*# sourceMappingURL=index.css.map */
