@import "reset";
@import "indication-bar";
@import "login-form";

body{
  background: url("../media/background/bakcgroundplaybig.jpg") no-repeat center ;
  background-size: cover;
  height: 100vh;
  font-family: "NeoSansPro-Medium";
  color: white;
}

@font-face {
  font-family: NeoSansPro-Medium;
  src: url(../fonts/NeoSansPro-Medium.ttf);
}
@font-face {
  font-family: NeoSansPro-Light;
  src: url(../fonts/NeoSansPro-Light.ttf);
}
@font-face {
  font-family: NeoSansPro-Regular;
  src: url(../fonts/NeoSansPro-Regular.ttf);
}
@font-face {
  font-family: NeoSansPro-Italic;
  src: url(../fonts/NeoSansPro-Italic.ttf);
}
@font-face {
  font-family: NeoSansPro-BoldItalic;
  src: url(../fonts/NeoSansPro-BoldItalic.ttf);
}


.landing-left-navigation{
  height: 100%;
  width: 150px;
  left: 70px;
  //background: linear-gradient(45deg, rgba(72,21,99,1),rgba(11,6,31,0.94));

  display: inline-block;
  position: fixed;
}



.landing-left-navigation__sign{
  display: inline-block;
  position: fixed;
  top: 320px;
  left:-250px;
  font-size: 112px;
  transform: rotate(90deg);
  color: rgba(255,255,255,0.05);
  width: 700px;
}
.landing-header{
  display: block;
  margin: 0 auto;
  height: 32px;
  width: 62%;
  padding-top: 28px;
  font-family: NeoSansPro-Regular
}

.landing-header-nav-menu-list{
  display: inline-block;
  li{
    display: inline-block;
    text-transform: uppercase;
  }
}
.landing-header-nav-menu-list__href{
  margin-right: 40px;
  a{
    text-decoration: none;
    color: white;
  }
}

.landing-right-block{
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 50px;
  top:-45px;
  width: 300px;
  text-align: right;
  a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 20px;
    font-weight: lighter;
    &:nth-child(2){
      border-radius: 40px;
      width: 170px;
      border: 2px solid rgba(255,0,0,0.64);
      height: 28px;
      padding-top: 16px;
      text-align: center;
      margin-right: 0px;
    }

  }

}
.landing-footer{
  height: 40px;
  width: 500px;
  font-size: 25px;
  position: absolute;
  right: -175.5px;
  bottom: 285px;
  transform: rotate(-90deg) ;
  i{
    margin-right: 40px;
    color: rgba(255,255,255,0.54);
    transform: rotate(90deg) ;
  }
}
.landing-footer-social{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255,0,0,0.34);
  border-radius: 50%;
  margin-right: 20px;
  i{
    position: relative;
    top: 7.589999px;
    left: 9px;
  }
  &:nth-child(2){
    i {
      left: 13px;
    }
  }
  &:hover{
    transition-duration: 200ms;
    border: 2px solid rgba(255,0,0,0.74);
    i{
      transition-duration: 200ms;
     color: rgba(255,255,255,1);
    }
  }
}
.landing-slogan {
  width: 630px;
  height: 500px;
  position: absolute;
  font-size: 44px;
  right: 218px;
  top: 23%;
  text-align: left;
  span {
    text-align: right;
    font-family: NeoSansPro-Italic;
  }
}
.landing-description{
  width: 630px ;
  height:200px ;
  position: absolute;
  font-size: 14px;
  text-align: left;
  right: 218px;
  bottom: 5%;
  span {
    font-family: NeoSansPro-Regular;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 1.5;
    color: rgba(255,255,255,0.90);
  }
}

@media screen and (max-width:1100px){
  .landing-slogan{
    right: 3%;
  }
  .landing-description{
    bottom: 8.7%;
    right: 3%;
  }
}
@media screen and (max-width:800px){
  .landing-slogan{
    right: 30%;
    width: 280px;
    height: 300px;
  }
  .landing-description{
    bottom: 8.7%;
    right: 30%;
    width: 280px;
    height: 300px;
  }

}
@media screen and (max-width:500px){
  .landing-left-navigation{
    width: 80px ;
    left: 0px;
  }
  .landing-left-navigation__sign{
    display: none;
  }
  .landing-slogan{
    font-size: 32px;
    right: 28%;
    width: 230px;
    height: 300px;
  }
  .landing-footer{
    right: -215.5px;
    a{
      border: 2px solid rgba(255,0,0,0.94);
      i{
        transition-duration: 200ms;
        color: rgba(255,255,255,1);
      }
    }

  }
  .landing-description{
    width: 280px;
    height: 300px;
    bottom: 8.7%;
    right: 60px;
    svg{
    }
  }
  .landing-right-block{
    margin-right: 18%;
  }
  body{
    background: url("../media/background/bakcgroundplay-mobile.jpg") no-repeat right ;
    background-size: cover;
  }
}