.landing-left-navigation-indication-bar{
  width: 38px;
  height: 138px;
  position: absolute;
  top:137px;
  left:90px;

}

.dot-border_redColor{
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255,0,0,0.84);
  border-radius: 50%;
  margin-bottom: 5px;
  box-shadow: 0px 0px 11px rgba(255,0,0,1);
}
.dot-border{
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255,0,0,0.0);
  border-radius: 50%;
  margin-bottom: 5px;
  &:hover{
      .dot{
      background: rgba(255, 0, 0, 1);
      transition-duration: 300ms;
    }
  }
}
.dot{
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50% ;
  top:8px;
  left: 10px;
  transition-duration: 300ms ;
  &_redColor{
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50% ;
    top:8px;
    left: 10px;
    background: rgba(255,0,0,0.84);
    transition-duration: 300ms ;

  }

}

.landing-left-navigation-digital-bar{
  font-size: 64px;
  width: 200px;
  position: absolute;
  transform: rotate(90deg);
  bottom:114px;
}

.landing-left-navigation-digital-bar__underline{
  background-color: rgba(255,0,0,0.64);
  display: inline-block;
  width: 94px;
  height: 4px;
  position: relative;
  top: -22px;

}
@media screen and (max-width:500px){
  .landing-left-navigation-indication-bar{
    left:20%;
  }
  .landing-left-navigation-digital-bar{
    right: -45px;
  }
}