.reg-form {
  height: 520px;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  transition-duration: 700ms;
  background-color: white; }

.reg-form:hover {
  transition-duration: 700ms; }

.reg-form-fields {
  margin-top: 15px; }

.reg-form-fields label {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  position: relative;
  top: 10px; }

.reg-form-item {
  background: none;
  color: black;
  width: 200px;
  height: 40px;
  margin: 8px auto;
  display: block;
  border: none;
  border-bottom: 1px dotted black;
  transition-duration: 700ms; }

.reg-form-item:hover {
  transition-duration: 700ms; }

.reg-form-item-btn {
  background: none;
  height: 40px;
  width: 140px;
  display: block;
  color: black;
  margin: auto;
  border: 2px solid black;
  transition-duration: 700ms;
  border-radius: 3px; }

.reg-form-item-btn:hover {
  transition-duration: 700ms; }

.login-form {
  height: 300px;
  margin-top: 220px;
  padding-top: 20px; }

/*# sourceMappingURL=login-form.css.map */
