.reg-form {
  height: 520px;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  transition-duration: 700ms;
  background:none;
}
.reg-form:hover {
  transition-duration: 700ms;
}

.reg-form-fields {
  margin-top: 15px;
}
.reg-form-fields label {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.reg-form-item {
  background: none;
  color: white;
  width: 200px;
  height: 40px;
  margin: 8px auto;
  display: block;
  border: none;
  border-bottom: 1px dotted white;
  transition-duration: 700ms;

}
.reg-form-item:hover {
  transition-duration: 700ms;
}

.reg-form-item-btn {
  background: none;
  height: 40px;
  width: 140px;
  display: block;
  color: white;
  margin: auto;
  border: 2px solid red;
  border-radius: 20px;
  transition-duration: 300ms;
  font-size: 16px;
  &:hover{
    transition-duration: 300ms;
    background-color: greenyellow;
    border: 2px solid greenyellow;



  }
}
.reg-form-item-btn:hover {
  transition-duration: 700ms;
}
.login-form{
  width: 300px;
  background-color: rgba(42,44,68,0.43);
  height: 300px;
  margin: 0  auto;
  margin-top: 10%;
  padding-top: 40px;
  border-radius: 20px;
}