/*
		http://meyerweb.com/eric/tools/css/reset/
		v2.0 | 20110126
		License: none (public domain)
		*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* common styles */
body {
  background: #f1f1f1;
  color: #000; }

.page {
  background: #fff;
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden; }

.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px; }

h1 {
  position: relative;
  background: #444;
  font-size: 32px;
  color: #fff;
  padding: 10px 20px;
  margin: 0 -20px 12px -20px; }

.letters {
  font-size: 25px;
  margin-bottom: 20px; }

.s10:before {
  content: '10px'; }

.s11:before {
  content: '11px'; }

.s12:before {
  content: '12px'; }

.s14:before {
  content: '14px'; }

.s18:before {
  content: '18px'; }

.s24:before {
  content: '24px'; }

.s30:before {
  content: '30px'; }

.s36:before {
  content: '36px'; }

.s48:before {
  content: '48px'; }

.s60:before {
  content: '60px'; }

.s72:before {
  content: '72px'; }

.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-right: 6px; }

pre {
  display: block;
  position: relative;
  padding: 9px;
  margin: 0 0 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  font-weight: normal !important;
  font-style: normal !important;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px; }

pre:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: 'Usage';
  line-height: 1;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-radius: 0 4px 0 4px;
  z-index: 10; }

/* responsive */
@media (max-width: 959px) {
  .page {
    width: auto;
    margin: 0; } }
.landing-left-navigation-indication-bar {
  width: 38px;
  height: 138px;
  position: absolute;
  top: 137px;
  left: 90px; }

.dot-border_redColor {
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 0, 0, 0.84);
  border-radius: 50%;
  margin-bottom: 5px;
  box-shadow: 0px 0px 11px red; }

.dot-border {
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 50%;
  margin-bottom: 5px; }
  .dot-border:hover .dot {
    background: red;
    transition-duration: 300ms; }

.dot {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  top: 8px;
  left: 10px;
  transition-duration: 300ms; }
  .dot_redColor {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 8px;
    left: 10px;
    background: rgba(255, 0, 0, 0.84);
    transition-duration: 300ms; }

.landing-left-navigation-digital-bar {
  font-size: 64px;
  width: 200px;
  position: absolute;
  transform: rotate(90deg);
  bottom: 114px; }

.landing-left-navigation-digital-bar__underline {
  background-color: rgba(255, 0, 0, 0.64);
  display: inline-block;
  width: 94px;
  height: 4px;
  position: relative;
  top: -22px; }

@media screen and (max-width: 500px) {
  .landing-left-navigation-indication-bar {
    left: 20%; }

  .landing-left-navigation-digital-bar {
    right: -45px; } }
.reg-form {
  height: 520px;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  transition-duration: 700ms;
  background: none; }

.reg-form:hover {
  transition-duration: 700ms; }

.reg-form-fields {
  margin-top: 15px; }

.reg-form-fields label {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  position: relative;
  top: 10px; }

.reg-form-item {
  background: none;
  color: white;
  width: 200px;
  height: 40px;
  margin: 8px auto;
  display: block;
  border: none;
  border-bottom: 1px dotted white;
  transition-duration: 700ms; }

.reg-form-item:hover {
  transition-duration: 700ms; }

.reg-form-item-btn {
  background: none;
  height: 40px;
  width: 140px;
  display: block;
  color: white;
  margin: auto;
  border: 2px solid red;
  border-radius: 20px;
  transition-duration: 300ms;
  font-size: 16px; }
  .reg-form-item-btn:hover {
    transition-duration: 300ms;
    background-color: greenyellow;
    border: 2px solid greenyellow; }

.reg-form-item-btn:hover {
  transition-duration: 700ms; }

.login-form {
  width: 300px;
  background-color: rgba(42, 44, 68, 0.43);
  height: 300px;
  margin: 0  auto;
  margin-top: 10%;
  padding-top: 40px;
  border-radius: 20px; }

.body-landing {
  background: url("/media/background/bakcgroundplaybig.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  font-family: "NeoSansPro-Medium";
  color: white; }

@font-face {
  font-family: NeoSansPro-Medium;
  src: url(/fonts/NeoSansPro-Medium.ttf); }
@font-face {
  font-family: NeoSansPro-Light;
  src: url(/fonts/NeoSansPro-Light.ttf); }
@font-face {
  font-family: NeoSansPro-Regular;
  src: url(/fonts/NeoSansPro-Regular.ttf); }
@font-face {
  font-family: NeoSansPro-Italic;
  src: url(/fonts/NeoSansPro-Italic.ttf); }
@font-face {
  font-family: NeoSansPro-BoldItalic;
  src: url(/fonts/NeoSansPro-BoldItalic.ttf); }
.landing-left-navigation {
  height: 100%;
  width: 150px;
  left: 70px;
  display: inline-block;
  position: fixed; }

.landing-left-navigation__sign {
  display: inline-block;
  position: fixed;
  top: 320px;
  left: -250px;
  font-size: 112px;
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.05);
  width: 700px; }

.landing-header {
  display: block;
  margin: 0 auto;
  height: 32px;
  width: 62%;
  padding-top: 28px;
  font-family: NeoSansPro-Regular; }

.landing-header-nav-menu-list {
  display: inline-block; }
  .landing-header-nav-menu-list li {
    display: inline-block;
    text-transform: uppercase; }

.landing-header-nav-menu-list__href {
  margin-right: 40px; }
  .landing-header-nav-menu-list__href a {
    text-decoration: none;
    color: white; }

.landing-right-block {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 50px;
  top: -45px;
  width: 300px;
  text-align: right; }
  .landing-right-block a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 20px;
    font-weight: lighter; }
    .landing-right-block a:nth-child(2) {
      border-radius: 40px;
      width: 170px;
      border: 2px solid rgba(255, 0, 0, 0.64);
      height: 28px;
      padding-top: 16px;
      text-align: center;
      margin-right: 0px; }

.landing-footer {
  height: 40px;
  width: 500px;
  font-size: 25px;
  position: absolute;
  right: -175.5px;
  bottom: 285px;
  transform: rotate(-90deg); }
  .landing-footer i {
    margin-right: 40px;
    color: rgba(255, 255, 255, 0.54);
    transform: rotate(90deg); }

.landing-footer-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 0, 0, 0.34);
  border-radius: 50%;
  margin-right: 20px; }
  .landing-footer-social i {
    position: relative;
    top: 7.589999px;
    left: 9px; }
  .landing-footer-social:nth-child(2) i {
    left: 13px; }
  .landing-footer-social:hover {
    transition-duration: 200ms;
    border: 2px solid rgba(255, 0, 0, 0.74); }
    .landing-footer-social:hover i {
      transition-duration: 200ms;
      color: white; }

.landing-slogan {
  width: 630px;
  height: 500px;
  position: absolute;
  font-size: 44px;
  right: 218px;
  top: 23%;
  text-align: left; }
  .landing-slogan span {
    text-align: right;
    font-family: NeoSansPro-Italic; }

.landing-description {
  width: 630px;
  height: 200px;
  position: absolute;
  font-size: 14px;
  text-align: left;
  right: 218px;
  bottom: 5%; }
  .landing-description span {
    font-family: NeoSansPro-Regular;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9); }

@media screen and (max-width: 1100px) {
  .landing-slogan {
    right: 3%; }

  .landing-description {
    bottom: 8.7%;
    right: 3%; } }
@media screen and (max-width: 800px) {
  .landing-slogan {
    right: 30%;
    width: 280px;
    height: 300px; }

  .landing-description {
    bottom: 8.7%;
    right: 30%;
    width: 280px;
    height: 300px; } }
@media screen and (max-width: 500px) {
  .landing-left-navigation {
    width: 80px;
    left: 0px; }

  .landing-left-navigation__sign {
    display: none; }

  .landing-slogan {
    font-size: 32px;
    right: 28%;
    width: 230px;
    height: 300px; }

  .landing-footer {
    right: -215.5px; }
    .landing-footer a {
      border: 2px solid rgba(255, 0, 0, 0.94); }
      .landing-footer a i {
        transition-duration: 200ms;
        color: white; }

  .landing-description {
    width: 280px;
    height: 300px;
    bottom: 8.7%;
    right: 60px; }

  .landing-right-block {
    margin-right: 18%; }

  .body-landing {
    background: url("/media/background/bakcgroundplay-mobile.jpg") no-repeat right;
    background-size: cover; } }

/*# sourceMappingURL=index.css.map */
