@import "reset";
@import "reset-css";
@import "font/font";
@import "playground-page";
@import "playground-search";

//variables-css
$font-stack: Neo Sans Pro, sans-serif;

//font-colors
$main-font-color: black;
$additional-font-color: rgba(145,145,145,100);
$lighter-font-color: rgba(156,156,156,100);


//colors
$left-navigation-bar-color: rgba(248,248,248,100);
$body-color:rgba(250,250,250,100);
$edit-button: #145FF9;

//borders
$main-border-radius: 20px;
$additional-border-radius: 10px;
$border-radius-for-user-icons: 14px;
//shadows
$shadow: 2px 2px 10px rgba(0,0,0,0.33);
/* Rectangle 6: */

//font-colors-dark-them
$main-color-dark-theme: #302F4E;
$dark-left-navigation-bar-color: rgba(85,69,140,0.10);
$dark-elements-color: rgba(85,69,140,0.20);
$main-font-color-dark-theme: rgba(255,255,255,100);
$additional-font-color-dark-theme: rgba(255,255,255,0.66);
$lighter-font-color: rgba(156,156,156,100);
$dark-theme-border-icons-color: rgba(116,153,255,100);
body{
  font-family: $font-stack;
  background-color: $main-color-dark-theme;
  color: $main-font-color-dark-theme;
  &::-webkit-scrollbar-track {border-radius: 4px;}
  &::-webkit-scrollbar {width: 6px;}
  &::-webkit-scrollbar-thumb {border-radius: 2px;background: $message-field-border-color;}
  &:hover::-webkit-scrollbar-thumb {background: $message-field-border-color;}
}

.main-navigation-field__text{
  font-size: 12px;
}




.main-header{
  background-image: linear-gradient(-180deg, rgba(142,123,192,0.20) 0%, rgba(85,69,140,0.00) 100%);
  height: 100vh;
  width: 200px;
  position: fixed;
}
.logo{
   padding-left: 42px;
   padding-top:13px;
   width: 82px;
   margin: 0 auto;
   background: none;
}
.user-small-field{
  height: 35px;
  width: 138px;
  padding-left: 18%;
  margin-top: 32px;


}
.user-small-field-photo{
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
  margin: 0;
   img {
    border-radius: $border-radius-for-user-icons;
    display: inline-block;
    width: 100%;
    height: 100%;
     border: 1px solid $dark-theme-border-icons-color;
   }
}
.user-small-field__name {
  font-size: 12px;
  position: relative;
  vertical-align: top;
  top: 15px
}
.manage-profile-button{
  width: 138px;
  height: 30px;
  background: none;
  border-radius: $additional-border-radius;
  margin-left: 18%;
  margin-top: 32px;
  color: white;
  font-size: 10px;
  text-align: center;
  border: 1px solid $dark-theme-border-icons-color;
  transition-duration: 250ms;
  span{
    position: relative;
    top:5px;
    left: 7px;
  }
  svg{
    position: relative;
    top:7px;
    left: -5px;
  }
  &:hover{
    box-shadow: none;
    transition-duration: 250ms;
  }
}
.main-navigation-fields{
  margin-top: 40px;
  height: 30px;
}
.main-navigation-field{
  padding-left: 18%;
  width: 138px;
  height: 30px;
  margin-top: 10px;
  border-left: 3px solid $dark-left-navigation-bar-color;
  &:hover{
    border-left: 3px solid $dark-theme-border-icons-color;
  }


}
.main-navigation-field__text{
  margin-left:25px ;
  position: relative;
  top: 5px;
  font-size: 12px;

}

.main-info{
  position: relative;
  left: 200px;
  width: 82.5111111111111%;
  min-height: 100vh;
  height: auto;
}
.upper-navigation-bar{
  width: 89.5%;
  height: 40px;
  background-color: $dark-elements-color;
  border-radius: $additional-border-radius;
  position: relative;
  top:10px;
  left: 50px;
  box-shadow: $shadow;
}
.logout-button{
  float: right;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 7px;
  color: white;
  transition-duration: 150ms;
  i{
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 16px;
  }
  &:hover{
    transition-duration: 200ms;
    box-shadow: none;
    color: red;


  }
}
.user-background-field{
  height: 245px;
  background-color: $dark-elements-color;
  width: 65.5161290322581%;
  border-radius: $main-border-radius;
  top:83px;
  left: 50px;
  position: absolute;
  box-shadow: $shadow;

}
.user-background-field-wallpaper{
  width: 100%;
  height: 185px;
  background-size: cover;
  border-top-left-radius: $main-border-radius;
  border-top-right-radius: $main-border-radius;

}
.user-big-field-photo{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  top:-50px;
  left: 80px;
  img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
.user-background-field-navigation__user-name{
  position: relative;
  top:-105px;
  left: 100px;
  color: white;
  font-size: 16px;

}
.user-background-field-navigation{
  font-size: 12px;
  display: inline-block;
  position: relative;
  width: 100%;
  ul{
    position: relative;
    top:-65px ;
    left: -15px;

  }
}
.user-background-field-navigation-bar{
  display: inline-block;
  position: relative;
}
.user-background-field-navigation__field{
  display: inline-block ;
  margin-right: 20px;
  color: $additional-font-color-dark-theme;
  transition-duration: 100ms;
  span{
    transition-duration: 100ms;
    display: inline-block;
    width: 40px;
    height: 3px;
    background: none;
    position: absolute;
    top:32px;
    border-radius: 10px;
  }
  &_isActive{
    @extend .user-background-field-navigation__field;
    color: white;
    span{
     background-color: $dark-theme-border-icons-color;
   }
  }
  &:hover{
    color: white;


  }
  &:nth-child(1){
    span{
      left: -1px;
      width: 40px;
    }
  }
  &:nth-child(2){
    span{
      left: 55px;
      width: 70px;
    }
  }
  &:nth-child(3){
    span{
      left: 145px;
      width: 45px;
    }
  }
  &:nth-child(4){
    span{
      left: 212px;
      width: 60px;
    }
  }
  &:nth-child(5){
    span{
      left: 295px;
      width: 70px;
    }
  }
}
.favorites-playgrounds{
  width: 250px;
  height: 250px;
  position: relative;
  left: 73.4677419354839%;
  top:42px;
  background-color: $dark-elements-color;
  border-radius: $main-border-radius;
  box-shadow: $shadow;
  span{
    font-size: 12px ;
    position: relative;
    top: -20px;
    color: white;
  }
  span:nth-child(1){
    color: $additional-font-color-dark-theme;
  }
}

.favorites-playground__pic{
  border-radius: $border-radius-for-user-icons;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid $dark-theme-border-icons-color;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}

