//borders
$main-border-radius: 20px;
$additional-border-radius: 10px;
$border-radius-for-user-icons: 14px;
//shadows
$shadow: 2px 2px 10px rgba(0,0,0,0.33);
/* Rectangle 6: */

//font-colors-dark-them
$main-color-dark-theme: #302F4E;
$dark-left-navigation-bar-color: rgba(85,69,140,0.10);
$dark-elements-color: rgba(85,69,140,0.20);
$main-font-color-dark-theme: rgba(255,255,255,100);
$additional-font-color-dark-theme: rgba(255,255,255,0.66);
$lighter-font-color: rgba(156,156,156,100);
$dark-theme-border-icons-color: rgba(116,153,255,100);

$dark-theme-map-menu: rgba(56,51,92,0.95);

$message-field-border-color: rgba(116,153,255,0.81);




.playground-search-map-field{
  top:83px;
  left: 50px;
  position: absolute;
  box-shadow: $shadow;
  border-radius: $main-border-radius;
  height: 650px;
  width: 44.9579831932773%;


}
.playground-search-map-field__map{
  border-radius: $main-border-radius;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
    iframe{
       border-radius: $main-border-radius;
    }

}
.playground-search-map-field-info{
  width: 100%;
  height: 140px;
  position: relative;
  background-color: $dark-theme-map-menu ;
  z-index: 3;
  display: inline-block;
  top:-142px;
  border-bottom-right-radius:$main-border-radius ;
  border-bottom-left-radius: $main-border-radius;
}
.playground-search-map-field-info-address{
  display: inline-block;
  width: 50%;
  padding-top: 20px;
  span{
    position: relative;
    left: 20px;
  }
}
.playground-search-map-field-info-photo{
  display: inline-block;
  float: right;
  width: 50%;
}
.playground-search-map-field-info-photo__pic{
  border-radius: $additional-border-radius ;
  width: 180px;
  height: 100px;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}
.playground-search-map-field-info-address__name{
  font-size: 14px;
  color: $dark-theme-border-icons-color;
  top:10px;
}
.playground-search-map-field-info-address__status{
  top:20px;
  &_isOpen{
    color: greenyellow;
    top:20px;

  }
  &_isClosed{
    color: red;
    top:20px;

  }
}
.playgrounds-list{
  width: 19.9159663865546%;
  height: 500px;
  position: absolute;
  left: 51.781512605042%;
  top:83px;
  background-color: $dark-elements-color;
  border-radius: $main-border-radius;
  box-shadow: $shadow;
  display: inline-block;
  span{
    font-size: 12px ;
    position: relative;
    top: -20px;
    color: white;
  }
}
.playgrounds-list-container{
  overflow-y: scroll ;
  height: 93%;
  width: 100%;
  &::-webkit-scrollbar-track {border-radius: 4px;}
  &::-webkit-scrollbar {width: 6px;}
  &::-webkit-scrollbar-thumb {border-radius: 4px;background: $message-field-border-color;}
  &:hover::-webkit-scrollbar-thumb {background: #C4BCFF;}
}
.playground-listed-info{
  width: 250px;
  height: 250px;
  position: relative;
  left: 73.4677419354839%;
  top:42px;
  background-color: $dark-elements-color;
  border-radius: $main-border-radius;
  box-shadow: $shadow;
  span{
    font-size: 12px ;
    position: relative;
    top: -20px;
    color: white;
  }
}