//borders
$main-border-radius: 20px;
$additional-border-radius: 10px;
$border-radius-for-user-icons: 14px;
//shadows
$shadow: 2px 2px 10px rgba(0,0,0,0.33);
/* Rectangle 6: */

//font-colors-dark-them
$main-color-dark-theme: #302F4E;
$dark-left-navigation-bar-color: rgba(85,69,140,0.10);
$dark-elements-color: rgba(85,69,140,0.20);
$main-font-color-dark-theme: rgba(255,255,255,100);
$additional-font-color-dark-theme: rgba(255,255,255,0.66);
$lighter-font-color: rgba(156,156,156,100);
$dark-theme-border-icons-color: rgba(116,153,255,100);
$message-field-border-color: rgba(116,153,255,0.21);
.playground-map-field {
  @extend .user-background-field;
}
.playground-map-wallpaper{
  @extend .user-background-field-wallpaper;
  overflow: hidden;
  background: none ;
}
.playground-name-and-address{
  position: relative;
  top:22px;
  margin: 0 auto;
  text-align: center;

}
.playground-map-field__playground-name{
  color: #C4BCFF;
}
.playground-map-field__playground-address{
  font-weight: lighter;
}
.playground-map-field-signIn-button{
  display: inline-block;
  position: absolute;
  float: right;
  width: 127px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #7499FF;
  border-radius: 8px;
  font-weight: lighter;
  right: 20px;
  top: 200px;
  span{
    position: relative;
    text-align: center;
    top:9px;
    left:20px;
  }
}
.playground-who-will-come{
  width: 65.5161290322581%;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 350px;
  background-color: $dark-elements-color;
  box-shadow: $shadow;
  border-radius: $main-border-radius;
}
.playground-who-will-come-field{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.playground-who-will-come-field__text{
  position: absolute;
  font-size: 14px;
  left: 20px;
  top: 18px;
}
.playground-i-will-come-button{
  float: right;
  width: 127px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #7499FF;
  border-radius: 8px;
  font-weight: lighter;
  margin-right: 20px;
  margin-top:10px;
  span{
    position: relative;
    text-align: center;
    top:9px;
    left:40px;
  }
}
.who-will-come-user-small-field-photo{
  display: inline-block;
  width: 30px;
  height: 30px;
  img{
    width: 100%;
    height: 100%;
    border-radius: $border-radius-for-user-icons;
    border: 1px solid $dark-theme-border-icons-color;
  }
}
.playground-visitors{
  display: inline-block;
  position: absolute;
  top:10px;
  left: 140px;
  &:hover{
    .who-will-come-user-small-field-photo{
      margin-left: 0px;
    }
  }
}
.who-will-come-user-small-field-photo{
  margin-left: -20px;
}
.who-will-come-user-small-field-photo:nth-child(1){
  margin-left: 0px;

}
.who-will-come-user-small-field-photo:nth-child(2){
  transition-duration: 90ms;


}
.who-will-come-user-small-field-photo:nth-child(3){
  transition-duration: 150ms;

}
.who-will-come-user-small-field-photo:nth-child(4){
  transition-duration: 300ms;

}

.playground-chat{
  width: 65.5161290322581%;
  height: 494px;
  position: absolute;
  left: 50px;
  background-color: #302F4E;
  border-radius: $main-border-radius;
  box-shadow: $shadow;
  top: 420px ;
}
.playground-chat-upper-part{
  width: 100%;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  background-color: #38335C;
  span{
    color: #C4BCFF;
    font-weight: lighter;
    font-size: 14px;
  }
}
.playground-chat-input-part{
  width: 100%;
  height: 63px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  background-color: #38335C;
  bottom: 0px;

}

.playground-chat-upper-part__usersInThisChannel{
  display: block;
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.playground-chat-upper-part__chanelName{
  float: right;
  position: relative;
  top:5px;
  right: 20px ;
}
.playground-chat-messages-field{
  position: absolute;
  top: 50px;
  width: 100%;
  height:380px ;
  overflow-y: scroll;
  border-bottom:1px solid $dark-theme-border-icons-color ;
    &::-webkit-scrollbar-track {border-radius: 4px;}
    &::-webkit-scrollbar {width: 6px;}
    &::-webkit-scrollbar-thumb {border-radius: 4px;background: $message-field-border-color;}
    &:hover::-webkit-scrollbar-thumb {background: #C4BCFF;}

}
.playground-chat-message-fields{
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid $message-field-border-color;
  height: auto;
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}
.playground-chat-message-fields-user-info__name{
  position: relative;
  top: -20px;
  left: 5px;
  font-size: 12px;
  color: #C4BCFF;
}
.playground-chat-message-fields-user-info__timeStamp{
  @extend .playground-chat-message-fields-user-info__name;
  font-weight: lighter;
  color: white;
}
.playground-chat-message-fields-user-info__message{
  display: inline-block;
  padding-left: 38px;
  padding-right: 1px;
  line-height: 16px
}
.playground-chat-input-part-input-field{
  width: 90%;
  height: 35px;
  border-radius: $main-border-radius;
  background-color: rgba(196,188,255,0.16);
  margin: 15px auto;
  input{
    display: inline-block;
    width: 90%;
    height: 20px;
    margin-left: 50px;
    margin-top: 6px;
    padding-left: 5px;
    background: none;
    color: white;
    border: none;
    border-left: 1px solid #C4BCFF ;
    font-size: 14px;
    outline:none;
    &::-webkit-input-placeholder{
      color: #C4BCFF;
    }

  }
}
